<div class="col-lg-4 col-md-6 text-center strawberry">
    <div class="single-product-item">
        <div class="product-image">
            @*<a href="#"><img src="@("http://localhost:5001/pics" + product.Pictures[0])))" alt=""></a>*@
        </div>
        <h3>@ProductItem.Name</h3>
        <h3>@ProductItem.Brand.BrandName</h3>
        <h3>@ProductItem.UpCategory.UpCategoryName</h3>
        <h3>@ProductItem.DownCategory.DownCategoryName</h3>

        <p class="product-price"><span>Per Kg</span> @ProductItem.Price.ToString("N2") TL </p>
        <a class="cart-btn" onclick="@OnClick">Ürünü İncele</a>
        <a class="cart-btn" onclick="@OnClick">@*<i class="fas fa-shopping-cart"></i>*@ Sepete Ekle</a>
    </div>
</div>

<!--<div class="col-md-3 col-sm-6">
    <div class="product-grid">
        <div class="product-image">
            <a href="#" class="image">-->
                @*<img class="pic-1" width="200" height="200" src="@("http://localhost:5001/pics" + ProductItem.PicturePath)"/>*@
            <!--</a>
        </div>
        <div class="product-content">
            <h3 class="title">
                <a href="#">@ProductItem.UpCategory.UpCategoryName</a>
            </h3>

            <h3 class="title">
                <a href="#">@ProductItem.DownCategory.DownCategoryName</a>
            </h3>
            <h3 class="title">
                <a href="#">@ProductItem.Name</a>
            </h3>
            <div class="price">
                @ProductItem.Price.ToString("N2") TL
            </div>
            <a class="add-to-cart" href="javascript:void(0)" onclick="@OnClick">Add to Cart</a>
        </div>
    </div>
</div>-->

@code {

    [Parameter]
    public Product ProductItem { get; set; }
    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
